html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: EatonReg, sans-serif;
}
hr {
  border-color: #0089cf;
  border-width: 3px;
  max-width: 50px;
}
hr.light {
  border-color: white;
}
a {
  cursor: pointer;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #0089cf;
}
a:hover,
a:focus {
  color: #00679c;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: EatonBold, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  padding: 0;
  margin: 0;
}
p {
  font-size: 16px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  padding: 0;
  margin: 0;
}
.text-faded {
  color: rgba(255, 255, 255, 0.7);
}
.no-padding {
  padding: 0;
}
.container {
  padding: 0;
  margin-bottom: 20px;
  width: 960px;
}
.btn-default {
  color: #57585a;
  background-color: white;
  border-color: white;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #57585a;
  background-color: #f2f2f2;
  border-color: #ededed;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: white;
  border-color: white;
}
.btn-default .badge {
  color: white;
  background-color: #57585a;
}
.btn-primary {
  background-color: #0089cf;
  color: white;
  padding: 20px 35px;
  font-size: 18px;
  text-decoration: none;
}
header .container {
  background-color: #808285;
}
header .container p {
  color: white;
  font-size: 28px;
  padding: 30px;
}
header .container .banner-buttons {
  float: right;
  margin: 10px 30px 0 0;
}
header .container .banner-buttons ul > li {
  list-style-type: none;
  display: inline;
  background-color: #eeeeee;
  padding: 0px 9px;
  margin-right: 5px;
  cursor: pointer;
  transition: all 0.5s;
}
header .container .banner-buttons ul > li:hover {
  background-color: rgba(238, 238, 238, 0.7);
}
header .container .banner-buttons .active {
  background-color: #57585a;
}
header .container .banner-buttons .active:hover {
  background-color: #57585a;
}
.bg-white {
  background-color: white;
  padding: 30px;
}
.bg-white p {
  font-size: 16px;
  color: #808285;
}
.bg-white h1 {
  color: #0089cf;
  font-family: EatonReg;
}
.bg-white ul {
  margin: 20px 0 0 20px;
}
.bg-white ul li {
  color: #808285;
}
.bg-gray-light {
  background-color: #e6e7e9;
}
.bg-gray-light .content-group {
  margin-top: 20px;
}
.bg-gray-light p {
  font-size: 16px;
  color: #808285;
}
.bg-gray-light h1 {
  color: #0089cf;
}
.bg-gray-light h3 {
  color: #0089cf;
}
.bg-gray-light ul {
  padding-left: 20px;
}
.bg-gray-light ul > li {
  font-size: 16px;
  color: #808285;
}
.bg-gray-light .more-details {
  height: 220px;
}
.bg-gray-light .more-details span {
  background-color: #808285;
  padding: 10px 25px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 15px;
  transition: all 0.5s;
  color: white;
}
.bg-gray-light .more-details span:hover {
  background-color: rgba(128, 130, 133, 0.7);
}
.bg-gray-dark {
  background-color: #808285;
}
.bg-gray-dark h1 {
  color: white;
  padding: 15px 25px;
}
.banner {
  padding-bottom: 5px;
  margin-bottom: 0;
}
.bg-gray {
  background-color: #d1d2d4;
}
.bg-gray ul {
  font-size: 18px;
  color: #808285;
  padding: 25px 45px;
}
.bg-gray ul li {
  list-style-type: square;
}
.bg-gray ul > ul {
  padding-top: 2px;
}
.bg-gray ul > ul li {
  list-style-type: circle;
}
.section-header {
  margin-bottom: 0;
  padding: 3px 25px;
}
.section-header span {
  color: white;
  font-size: 18px;
}
table {
  margin: 20px 0 0 0!important;
}
table thead > tr > th:first-child {
  border-left: 0!important;
}
table thead > tr > th:last-child {
  border-right: 0!important;
}
table tbody > tr > td:first-child {
  border-left: 0!important;
}
table tbody > tr > td:last-child {
  border-right: 0!important;
}
table thead > tr > th {
  background-color: #0089cf;
  color: white;
  font-size: 14px;
  font-weight: lighter;
  text-align: center;
  border: 2px solid #d1d2d4 !important;
  border-top: 0!important;
  vertical-align: middle!important;
}
table tbody > tr > td {
  color: black;
  font-size: 14px;
  text-align: center;
  border: 2px solid #d1d2d4 !important;
  padding: 0!important;
  vertical-align: middle!important;
}
table .empty-column,
table .img-column {
  background-color: #e6e7e9;
  border: 2px solid #e6e7e9 !important;
  vertical-align: middle!important;
}
table .empty-column img,
table .img-column img {
  padding: 0 10px;
}
table tbody > tr > .highlight-column {
  background-color: #d8e9f1;
  font-family: EatonBold, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
}
table tbody > tr > .highlight-column-gray {
  font-family: EatonBold, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
}
table tbody > .highlight-row > td {
  background-color: #d8e9f1;
}
table tbody > .highlight-row > td:last-child {
  font-family: EatonBold, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
}
table tbody > .highlight-row-gray > td:last-child {
  font-family: EatonBold, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
}
.elcm-table > thead > tr > th:first-child,
.elcm-table > tbody > tr > td:first-child {
  text-align: left;
  padding-left: 30px!important;
}
.table-bottom {
  border-left: 0!important;
  border-right: 0!important;
  margin: 0!important;
}
.table-bottom tbody > tr td {
  border-left: 0!important;
  border-right: 0!important;
}
.table-bottom tbody > tr .gray-column {
  background-color: #808285;
  padding: 3px 25px;
  border: 0!important;
}
.table-bottom tbody > tr .gray-column span {
  color: white;
  font-size: 18px;
}
.table-bottom tbody > tr .white-column {
  background-color: white;
  padding: 3px 25px;
  border: 0!important;
}
.table-bottom tbody > tr .header-column {
  vertical-align: bottom!important;
  border: 0!important;
  padding: 80px 0 0 0!important;
}
.text-primary {
  color: #0089cf;
  font-weight: bold;
}
.text-position-left {
  text-align: left!important;
  padding-left: 30px!important;
}
.vcenter {
  display: flex;
  align-items: center;
}
.black {
  color: black!important;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  cursor: pointer;
}
.nav-elements {
  margin-top: 40px;
}
.dropdown-menu {
  background-color: #e6e7e9;
  top: 27px;
  padding: 10px 0;
  border-radius: 0;
  border-top: 0;
}
.dropdown-menu li {
  padding: 0 15px;
}
.dropdown-menu li .title,
.dropdown-menu li .title:hover {
  background-color: #0067cd;
  color: white;
  font-family: EatonMed;
}
.dropdown-menu li .secundary-title,
.dropdown-menu li .secundary-title:hover {
  background-color: #d1d2d4;
  color: #0067cd;
  font-family: EatonMed;
}
.dropdown-menu li a {
  color: #0067cd;
  font-size: 14px;
}
.dropdown-menu li a:hover {
  text-decoration: underline;
  background-color: #e6e7e9;
  color: #0067cd;
}
.dropdown-button {
  padding: 10px 20px;
}
.dropdown-button span {
  font-size: 16px;
}
.dropdown-button:hover,
.btn-selected {
  text-decoration: none;
  background-color: #e6e7e9;
  color: #57585a;
}
.divider {
  background-color: #0089cf;
  width: 1px;
  height: 37px;
  float: left;
  margin-top: -7px;
}
/* Classes Footer - Eaton */
#footer {
  background: #eee;
  position: relative;
  width: 100%;
  padding: 19px;
  float: left;
  border-top: 2px solid #0089cf;
}
#footer a {
  text-decoration: none;
  color: #0067cd;
  line-height: 17px;
}
#footer a:hover {
  text-decoration: underline;
}
.footerHeader {
  font-weight: bold;
  font-size: 12px;
}
.footercolumn {
  float: left;
  width: 142px;
  margin-right: 11px;
}
.footercolumn_last {
  float: left;
  width: 142px;
}
.footercolumn li,
.footercolumn_last li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: normal;
  text-decoration: none;
  list-style: none outside none;
}
#FooterImages {
  clear: left;
  float: left;
  position: relative;
  width: 250px;
}
.subheadtitle {
  padding-top: 10px;
}
.subheadtitle p {
  font-weight: bold;
}
.copyright {
  color: #666;
}
.featureR {
  margin-top: 10px;
}
.controlstyle {
  float: right;
  margin-right: 86px;
  width: 100px;
}
.controlstyle1 {
  float: left;
  width: 60px;
}
.controlstyle a {
  outline: none;
}
.controlstyle a img {
  border-width: 0;
}
.controlstyle a.selectedcontrol img {
  border-bottom: 4px solid darkred;
}
#fontIcons {
  position: relative;
  padding-bottom: 20px;
}
#fontIcons li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0;
}
#fontIcons li,
#fontIcons a {
  display: block;
  height: 24px;
}
.fontMinus {
  background: url("/img/public/eaton_sprt_img.png") no-repeat scroll -253px 0 transparent;
  left: 0;
  width: 26px;
}
.fontPlus {
  background: url("/img/public/eaton_sprt_img.png") no-repeat scroll -225px 0 transparent;
  left: 29px;
  width: 26px;
}
.fontResize {
  left: 60px;
}
#printIcons {
  position: relative;
  padding-bottom: 20px;
}
#printIcons li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0;
}
#printIcons li,
#printIcons a {
  display: block;
  height: 24px;
}
.printImg {
  background: url("/img/public/eaton_sprt_img.png") no-repeat scroll -169px 0 transparent;
  left: 0;
  width: 26px;
}
.mailImg {
  background: url("/img/public/eaton_sprt_img.png") no-repeat scroll -197px 0 transparent;
  left: 29px;
  width: 26px;
}
.subheadtitle {
  color: #333;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
}
