<section>
    <div class="container bg-gray-dark banner">
        <div class="row">
            <div class="col-xs-12">
                <img src="img/banners/Banner-M22.jpg" alt="Banner Linha M22" width="100%" />
            </div>
        </div>
    </div>
</section>

<section>
	<div class="container bg-gray-dark">
		<div class="row">
            <div class="col-xs-7">
               <ul>
                    <li>Mais tecnologia.</li>
                    <li>Mais moderno.</li>
                    <li>Muito mais design.</li>
               </ul>
            </div>
            <div class="col-xs-5">
                    <p>
                        A Linha M22 apresenta o que há de melhor em <br>
                        matéria de luminosidade, consumo de energia e <br> 
                        vida útil. 
                    </p>
            </div>
        </div>
	</div>
</section>