<section>
    <div class="container bg-gray-dark banner">
        <div class="row">
            <div class="col-xs-12">
                <img src="img/banners/Banner-RMQ16.jpg" alt="Banner Linha RMQ16" width="100%" />
            </div>
        </div>
    </div>
</section>

<section>
	<div class="container bg-gray-dark">
		<div class="row">
            <div class="col-xs-7">
               <ul>
                    <li>Mais compacto.</li>
                    <li>Mais possibilidades.</li>
                    <li>Muito mais espaço.</li>
               </ul>
            </div>
            <div class="col-xs-5">
                <ul>
                    <li>Desenhada especialmente para máquinas <br> de pequeno porte.</li>
                    <li> Desenho quadrado e furação de 16mm <br> permite que vários elementos <br> sejam montados lado a lado.</li>
                </ul>
            </div>
        </div>
	</div>
</section>