<section>
    <div class="container bg-gray-dark banner">
        <div class="row">
            <div class="col-xs-12">
                <img src="img/banners/Banner-Caixas.jpg" alt="Banner Linha Caixas" width="100%" />
            </div>
        </div>
    </div>
</section>

<section>
	<div class="container bg-gray-dark">
		<div class="row">
            <div class="col-xs-7">
               <ul>
                    <li>Mais ergonômico.</li>
                    <li>Mais opções de montagem.</li>
                    <li>Muito mais segurança.</li>
               </ul>
            </div>
            <div class="col-xs-5">
                    <p>
                        Para montagem de botões plásticos ou <br>
                        metálicos. A linha de botoeiras se <br>
                        adequa aos ambientes mais agressivos.
                    </p>
            </div>
        </div>
	</div>
</section>