<section>
    <div class="container bg-gray-dark banner">
        <div class="row">
            <div class="col-xs-12">
                <img src="img/banners/Banner-Serie-20.jpg" alt="Banner Linha RMQ16" width="100%" />
            </div>
        </div>
    </div>
</section>

<section>
	<div class="container bg-gray-dark">
		<div class="row">
            <div class="col-xs-7">
               <ul>
                    <li>Mais resistente.</li>
                    <li>Mais acionamento.</li>
                    <li>Muito mais forte.</li>
               </ul>
            </div>
            <div class="col-xs-5">
                <p>
                   Forte, extremamente robusto, com frontal metálico <br> 
                   totalmente construído em Zamak com detalhe <br>
                   em aro cromado, perfeito para aplicações em <br>
                   serviços pesados e em condições agressivas de uso.
                </p>
            </div>
        </div>
	</div>
</section>