<section>
    <div class="container" style="margin-bottom: 0;">
        <div class="row">
            <div class="col-xs-12">
				<footer id="footer">
				    <div class="footercolumn">
				        <ul>
				            <li><a class="footerHeader" target="_blank" href="http://www.eaton.com.br/EatonBR/ProductsSolutions/index.htm">Produtos e Soluções</a></li>
				            <li><a target="_blank" href="http://www.eaton.com.br/EatonBR/ProductsSolutions/Aviacao/index.htm">Aeroespacial</a></li>
				            <li><a target="_blank" href="http://www.eaton.com.br/EatonBR/ProductsSolutions/Electrical/index.htm">Energia</a></li>
				            <li><a target="_blank" href="http://www.eaton.com.br/EatonBR/ProductsSolutions/Filtration/index.htm">Filtração</a></li>
				            <li><a target="_blank" href="http://www.eaton.com.br/EatonBR/ProductsSolutions/Hydraulics/index.htm">Hidráulico</a></li>
				            <li><a target="_blank" href="http://www.eaton.com.br/EatonBR/ProductsSolutions/Vehicle/index.htm">Veículo</a></li>
				        </ul>
				    </div>
				    <div class="footercolumn">
				        <ul>
				            <li><a class="footerHeader" target="_blank" href="http://www.eaton.com.br/EatonBR/Mercados/index.htm">Mercados da Eaton</a></li>
				            <li><a target="_blank" href="http://www.eaton.com.br/EatonBR/Mercados/Construcao/index.htm">Construção</a></li>
				            <li><a target="_blank" href="http://www.eaton.com.br/EatonBR/Mercados/DataCenter/index.htm">Data Center</a></li>
				            <li><a target="_blank" href="http://www.eaton.com.br/EatonBR/Mercados/Energia/index.htm">Energia</a></li>
				            <li><a target="_blank" href="http://www.eaton.com.br/EatonBR/Mercados/FabricantesemGeral/index.htm">Fabricantes em Geral</a></li>
				        </ul>
				    </div>
				    <div class="footercolumn">
				        <ul>
				            <li>&nbsp;</li>
				            <li><a target="_blank" href="http://www.eaton.com.br/EatonBR/Mercados/ManufaturaIndustrias/index.htm">Manufatura &amp; Indústrias</a></li>
				            <li><a target="_blank" href="http://www.eaton.com.br/EatonBR/Mercados/Químicos/index.htm">Químicos</a></li>
				            <li><a target="_blank" href="http://www.eaton.com.br/EatonBR/Mercados/Veículos/index.htm">Veículos</a></li>
				        </ul>
				    </div>
				    <div class="footercolumn">
				        <ul>
				            <li><a class="footerHeader" target="_blank" href="/EatonBR/OurCompany/index.htm">Nossa Empresa</a></li>
				            <li><a target="_blank" href="http://www.eaton.com.br/EatonBR/OurCompany/AboutUs/index.htm">Quem Somos</a></li>
				            <li><a target="_blank" href="http://www.eaton.com.br/EatonBR/OurCompany/NewsEvents/index.htm">Notícias &amp; Eventos</a></li>
				            <li><a target="_blank" href="http://www.eaton.com.br/EatonBR/OurCompany/Operations/index.htm">Operações</a></li>
				            <li><a target="_blank" href="http://www.eaton.com.br/EatonBR/OurCompany/ServiceProvider/index.htm">Serviço ao Fornecedor</a></li>
				            <li><a target="_blank" href="http://www.eaton.com.br/EatonBR/OurCompany/WorkatEaton/index.htm">Trabalhe na Eaton</a></li>
				            <li><a target="_blank" href="http://www.eaton.com.br/EatonBR/OurCompany/CorporateVideos/index.htm">Vídeos de visão geral corporativa</a></li>
				            <li><a target="_blank" href="http://www.eaton.com.br/EatonBR/OurCompany/CorporateResponsibility/index.htm">Responsabilidade Corporativa</a></li>
				            <li><a target="_blank" href="http://www.eaton.com.br/EatonBR/OurCompany/Sustainability/index.htm">Sustentabilidade</a></li>
				        </ul>
				    </div>
				    <div class="footercolumn">
				        <ul>
				            <li><font class="subheadtitle">Seguir</font></li>
				            <li>
				                <img alt="Eaton on Facebook" src="/img/public/facebooklogo.jpg" width="15" height="15">&nbsp;
				                <a target="http://www.facebook.com/eatonbrasil" href="http://www.facebook.com/eatonbrasil">Eaton no Facebook</a>
				            </li>
				            <li>
				                <a target="https://twitter.com/eatoncorp/" href="https://twitter.com/eatoncorp/">
				                <img alt="Eaton on Twitter" src="/img/public/twitter.gif" width="15" height="15" border="0">&nbsp;Eaton no Twitter </a>
				            </li>
				            <li>
				                <img alt="Eaton Newsfeeds" src="/img/public/rsslogo.gif" width="15" height="15" border="0">
				                <a target="_blank" href="http://www.eaton.com.br/EatonBR/OurCompany/NewsEvents/PressReleases/index.htm">Eaton Notícias</a><br>
				                <img alt="LinkedIn logo" style="width: 16px; height: 16px" src="/img/public/pct_273093.gif">&nbsp;
				                <a target="https://www.linkedin.com/company/eaton-corporation/" href="https://www.linkedin.com/company/eaton-corporation/">Eaton no Linkedin<br></a>
				                <img alt="Youtube Icon Small" src="/img/public/pct_305742.gif">&nbsp;
				                <a target="https://www.youtube.com/channel/UCF7vz2IAPNHv7BKTiFC9Xhw" href="https://www.youtube.com/channel/UCF7vz2IAPNHv7BKTiFC9Xhw">Eaton no Youtube</a>
				            </li>
				        </ul>
				    </div>
				    <div class="footercolumn_last">
				        <ul>
				            <li><a class="footerHeader" target="_blank" href="http://www.eaton.com.br/EatonBR/SiteMap/index.htm">Mapa do Site</a></li>
				            <li class="featureR"><a target="_blank" href="http://www.eaton.com.br/EatonBR/OurCompany/PolíticadePrivacidade/index.htm">Política de Privacidade</a></li>
				            <li><a target="_blank" href="http://www.eaton.com.br/EatonBR/OurCompany/TermoseCondições/index.htm">Termos e Condições</a></li>
				            <li class="copyright featureR">© 2017 Eaton<br>
				                Todos os Direitos Reservados</li>
				            </ul>
				        </div>
				        <div id="FooterImages">
							<!--
				            <div class="controlstyle1">
				                <ul id="printIcons" style="margin-left: 0px;">
				                  <li class="printImg">
				                    <a href="javascript:printpage();gaq.push(['_trackEvent', 'Click', 'Print Page', theHref.pathname]);"></a></li>
				                    <li class="mailImg"><a href="javascript:sendemail('página web','Eu achei que você poderia estar interessado neste informações do site Eaton Corporation Web');gaq.push(['_trackEvent', 'Click', 'Email Page', theHref.pathname]);"></a></li>
				                </ul>
				            </div>
				            <div id="sizecontroldiv" class="controlstyle">
				                <ul id="fontIcons" style="margin-left: 0px;">
				                    <li class="fontMinus"><a href="#smaller" onclick="_gaq.push(['_trackEvent', 'Click', 'Font Smaller', theHref.pathname]);"></a></li>
				                    <li class="fontPlus"><a href="#bigger" onclick="_gaq.push(['_trackEvent', 'Click', 'Font Bigger', theHref.pathname]);"></a></li>
				                    <li class="fontResize"><a href="javascript:mytextsizer.setFontLevel(0);gaq.push(['_trackEvent', 'Click', 'Resize', theHref.pathname]);">Redefinir</a></li>
				                </ul>
				            </div>
							-->
				        </div>
				    </div>
				</footer>
			</div>
		</div>
	</div>
</section>
