<nav>
	<div class="container" style="margin-bottom: 0; padding: 10px 0 0 0;">
		<div class="row">
			<div class="col-xs-3">
				<a href="/">
					<img src="../img/Logo_BlindexByEaton.jpg" alt="Logotipo BlindexByEaton" height="70px" />
				</a>
			</div>
			<div class="col-xs-6">
				<div class="nav-elements">
					<div class="dropdown" style="float: left;">
				    	<a data-toggle="dropdown" class="dropdown-button" id="product-button">
							<span>Produtos e Soluções</span>
						</a>
					    <ul class="dropdown-menu">
							<li><a href="/" class="title" style="color: white;">Linha Eletromec</a></li>
							<li><a href="#fusivel_cartucho">Fusível Cartucho</a></li>
							<li><a href="#fusivel_nh">Fusível NH</a></li>
							<li><a href="#elcm">Linha ELCM</a></li>
							<li><a href="#eldr">Linha ELDR</a></li>
							<li><a href="#elmd">Linha ELMD</a></li>
							<li><a href="#elps">Linha ELPS</a></li>
						  	<li><a class="secundary-title" href="http://www.eaton.com.br/EatonBR/ProductsSolutions/index.htm" target="_blank" style="color: #0067cd;">Conheça todos os nossos produtos</a></li>
					    </ul>
				  	</div>
				  	<div class="divider"></div>
					<div class="dropdown" style="float: left;">
				    	<a class="dropdown-button" href="" target="_blank">
							<span>Mercados da Eaton</span>
						</a>
				  	</div>
					<div class="divider"></div>
					<div class="dropdown" style="float: left;">
				    	<a class="dropdown-button" href="http://www.eaton.com.br/EatonBR/OurCompany/index.htm" target="_blank">
							<span>Nossa Empresa</span>
						</a>
				  	</div>
				</div>
			</div>
		</div>
	</div>
</nav>
