<section>
    <div class="container bg-gray-dark banner">
        <div class="row">
            <div class="col-xs-12">
                <img src="img/banners/Banner-SL7&SL4.jpg" alt="Banner Linha SL7 E SL4" width="100%" />
            </div>
        </div>
    </div>
</section>

<section>
	<div class="container bg-gray-dark">
		<div class="row">
            <div class="col-xs-7">
               <ul>
                    <li>Mais brilho.</li>
                    <li>Mais eficiente.</li>
                    <li>Muito mais claro.</li>
               </ul>
            </div>
            <div class="col-xs-5">
                <p>
                   Com grau de proteção IP65 mesmo com elementos <br> 
                   sonoros e iluminação LED, a família SL4 e SL7 <br>
                   possui a robustez necessária com <br>
                   a clareza que você precisa.
                </p>
            </div>
        </div>
	</div>
</section>