<section>
    <div class="container bg-gray-dark banner">
        <div class="row">
            <div class="col-xs-12">
                <img src="img/banners/Banner-A22.jpg" alt="Banner Linha A22" width="100%" />
            </div>
        </div>
    </div>
</section>

<section>
	<div class="container bg-gray-dark">
		<div class="row">
            <div class="col-xs-7">
               <ul>
                    <li>Mais possibilidades.</li>
                    <li>Mais versátil.</li>
                    <li>Muito mais acessível.</li>
               </ul>
            </div>
            <div class="col-xs-5">
                <ul>
                    <li>Furação Ø 22,5mm</li>
                    <li>Alto grau de proteção IP65</li>
                    <li>Anel frontal cromado</li>
                    <li>Certificação CE e UL</li>
                </ul>
            </div>
        </div>
	</div>
</section>