<section>
    <div class="container bg-gray-dark banner">
        <div class="row">
            <div class="col-xs-12">
                <img src="img/banners/Banner-Sirenes.jpg" alt="Banner Sirenes e Alarmes" width="100%" />
            </div>
        </div>
    </div>
</section>

<section>
	<div class="container bg-gray-dark">
		<div class="row">
            <div class="col-xs-7">
               <ul>
                    <li>Mais alto.</li>
                    <li>Mais resistência.</li>
                    <li>Muito mais flexível.</li>
               </ul>
            </div>
            <div class="col-xs-5">
                <p>
                   A linha de Sirenes e Alarmes traz várias opções <br> 
                   audiovisuais, sonoros direcionais, omnidirecionais, <br>
                   IP65 além dos convencionais sonoros <br>
                   para porta de painel.
                </p>
            </div>
        </div>
	</div>
</section>