<section>
    <div class="container bg-gray-dark banner">
        <div class="row">
            <div class="col-xs-12">
                <img src="img/banners/Banner-Chaves.jpg" alt="Banner Linha Chaves" width="100%" />
            </div>
        </div>
    </div>
</section>

<section>
	<div class="container bg-gray-dark">
		<div class="row">
            <div class="col-xs-7">
               <ul>
                    <li>Mais ergonômico.</li>
                    <li>Mais opções de montagem.</li>
                    <li>Muito mais segurança.</li>
               </ul>
            </div>
            <div class="col-xs-5">
                    <p>
                        Com opções de chaves até 3150A é uma <br>
                        das linhas mais completas do mercado.
                    </p>
            </div>
        </div>
	</div>
</section>